@tailwind preflight;

html {
  font-size: 20px;
}

ol, ul {
  padding: 0;
}

pre {
  @apply .font-sans;
}

summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}

.bg-purple-o-10 {
  background-color: #9561e214;
}

@tailwind utilities;
