@tailwind preflight;

html {
  font-size: 20px;
}

ol, ul {
  padding: 0;
}

pre {
  @apply .font-sans;
}

summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}
/* Section titles when collapsed */
details > summary .summary-indicator-absolute {
  position: relative;
}
details[open] > summary .summary-indicator-absolute:before {
  content: '−';
  position: absolute;
  left: -1rem;
  opacity: 0.1;
}
details:not([open]) > summary .summary-indicator-absolute:before {
  content: '+';
  position: absolute;
  left: -1rem;
}
/* RPC summary when collapsed */
details > summary .summary-indicator-inline {
  white-space: nowrap;
}
details[open] > summary .summary-indicator-inline:before {
  content: '− ';
}
details:not([open]) > summary .summary-indicator-inline:before {
  content: '+ ';
}

.bg-purple-o-10 {
  background-color: #9561e214;
}

.control {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
  border-color: #DCE2E8;
  border-top-color: #E8EDF1;
  border-bottom-color: #C2CBD3;
  @apply .text-base .leading-normal;
  @apply .bg-white .border .appearance-none;
}

@tailwind utilities;
